extends ../shared/template
block content
  h1 Home
  #map
    .content
    p We are Dalek EXTERMINATE! Allons-y Spoilers! Silence will fall EXTERMINATE! Allons-y, Alonso! the girl who waited Amy Pond Hello Sweetie. We are Dalek EXTERMINATE! River Song EXTERMINATE! EXTERMINATE! Tick tock goes the clock... Hello sweetie! Hello sweetie Hey, who turned out the lights? EXTERMINATE! Rose Tyler IT is the Doctor! Enemy of the Daleks! Galifreyan EXTERMINATE! Hello sweetie EXTERMINATE! EXTERMINATE! EXTERMINATE! Donna Noble EXTERMINATE! Allons-y, Alonso! EXTERMINATE! The socks with holes, dummy! Captain Jack Harkness YOU WILL OBEY! Time War Captain Jack Harkness EXTERMINATE! EXTERMINATE! Geronimo EXTERMINATE! Tick tock goes the clock... Bow ties are cool. Geronimo! The Master EXTERMINATE! EXTERMINATE! Bow ties are cool EXTERMINATE! EXTERMINATE! Would you like a jelly baby?

block scripts
  script(src='/js/user/home.js')

