extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Home
    .bs-component
      .jumbotron
        h1 World Traveler
        p
          | Welcome to the snazziest vacation tracker ever! With Word Traveler, you can document where you have travelled & upload your photos.
        p
          #map
        p
          a.btn.btn-primary.btn-lg(href='/about') About

block scripts
  script(src='/js/user/home.js')
